<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.PraiseDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.demo.PraiseDetails" >
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="praise_id" property="praiseId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.demo.PraiseDetails" >
    insert into praise_details (user_name, praise_id, user_id
      )
    values (#{userName,jdbcType=VARCHAR}, #{praiseId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.PraiseDetails" >
    insert into praise_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        user_name,
      </if>
      <if test="praiseId != null" >
        praise_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="praiseId != null" >
        #{praiseId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>