<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.VideoCommentMapper" >
  <resultMap id="BaseResultMap" type="com.demo.VideoComment" >
    <id column="comment_id" property="commentId" jdbcType="VARCHAR" />
    <result column="video_id" property="videoId" jdbcType="VARCHAR" />
    <result column="comment_value" property="commentValue" jdbcType="VARCHAR" />
    <result column="comment_username" property="commentUsername" jdbcType="VARCHAR" />
    <result column="comment_status" property="commentStatus" jdbcType="VARCHAR" />
    <result column="comment_time" property="commentTime" jdbcType="VARCHAR" />
    <result column="location_time" property="locationTime" jdbcType="VARCHAR" />
    <result column="ishave_comment" property="ishaveComment" jdbcType="VARCHAR" />
    <result column="comment_praise_count" property="commentPraiseCount" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    comment_id, video_id, comment_value, comment_username, comment_status, comment_time, 
    location_time, ishave_comment, comment_praise_count, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from video_comment
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from video_comment
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.demo.VideoComment" >
    insert into video_comment (comment_id, video_id, comment_value, 
      comment_username, comment_status, comment_time, 
      location_time, ishave_comment, comment_praise_count, 
      user_id)
    values (#{commentId,jdbcType=VARCHAR}, #{videoId,jdbcType=VARCHAR}, #{commentValue,jdbcType=VARCHAR}, 
      #{commentUsername,jdbcType=VARCHAR}, #{commentStatus,jdbcType=VARCHAR}, #{commentTime,jdbcType=VARCHAR}, 
      #{locationTime,jdbcType=VARCHAR}, #{ishaveComment,jdbcType=VARCHAR}, #{commentPraiseCount,jdbcType=INTEGER}, 
      #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.VideoComment" >
    insert into video_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="commentValue != null" >
        comment_value,
      </if>
      <if test="commentUsername != null" >
        comment_username,
      </if>
      <if test="commentStatus != null" >
        comment_status,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="locationTime != null" >
        location_time,
      </if>
      <if test="ishaveComment != null" >
        ishave_comment,
      </if>
      <if test="commentPraiseCount != null" >
        comment_praise_count,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="commentValue != null" >
        #{commentValue,jdbcType=VARCHAR},
      </if>
      <if test="commentUsername != null" >
        #{commentUsername,jdbcType=VARCHAR},
      </if>
      <if test="commentStatus != null" >
        #{commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=VARCHAR},
      </if>
      <if test="locationTime != null" >
        #{locationTime,jdbcType=VARCHAR},
      </if>
      <if test="ishaveComment != null" >
        #{ishaveComment,jdbcType=VARCHAR},
      </if>
      <if test="commentPraiseCount != null" >
        #{commentPraiseCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.VideoComment" >
    update video_comment
    <set >
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="commentValue != null" >
        comment_value = #{commentValue,jdbcType=VARCHAR},
      </if>
      <if test="commentUsername != null" >
        comment_username = #{commentUsername,jdbcType=VARCHAR},
      </if>
      <if test="commentStatus != null" >
        comment_status = #{commentStatus,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=VARCHAR},
      </if>
      <if test="locationTime != null" >
        location_time = #{locationTime,jdbcType=VARCHAR},
      </if>
      <if test="ishaveComment != null" >
        ishave_comment = #{ishaveComment,jdbcType=VARCHAR},
      </if>
      <if test="commentPraiseCount != null" >
        comment_praise_count = #{commentPraiseCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.VideoComment" >
    update video_comment
    set video_id = #{videoId,jdbcType=VARCHAR},
      comment_value = #{commentValue,jdbcType=VARCHAR},
      comment_username = #{commentUsername,jdbcType=VARCHAR},
      comment_status = #{commentStatus,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=VARCHAR},
      location_time = #{locationTime,jdbcType=VARCHAR},
      ishave_comment = #{ishaveComment,jdbcType=VARCHAR},
      comment_praise_count = #{commentPraiseCount,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR}
    where comment_id = #{commentId,jdbcType=VARCHAR}
  </update>
</mapper>