<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rk6216.eureka_client_comment8086.dao.VideoCommentMapper" >
  <resultMap id="BaseResultMap" type="cn.rk6216.eureka_client_comment8086.pojo.VideoComment" >
    <id column="comment_id" property="commentId" jdbcType="VARCHAR" />
    <result column="video_id" property="videoId" jdbcType="VARCHAR" />
    <result column="comment_value" property="commentValue" jdbcType="VARCHAR" />
    <result column="comment_username" property="commentUsername" jdbcType="VARCHAR" />
    <result column="comment_status" property="commentStatus" jdbcType="VARCHAR" />
    <result column="comment_time" property="commentTime" jdbcType="VARCHAR" />
    <result column="location_time" property="locationTime" jdbcType="VARCHAR" />
    <result column="ishave_comment" property="ishaveComment" jdbcType="VARCHAR" />
    <result column="comment_praise_count" property="commentPraiseCount" jdbcType="INTEGER" />
  </resultMap>
</mapper>