<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rk6216.eureka_client_comment.dao.Daotest">
    <!--<resultMap id="PeopleResultMap" type="com.example.demo.pojo.People">-->
    <!--<id column="peopleid" property="id" jdbcType="INTEGER"/>-->
    <!--<result column="姓名" property="reader" jdbcType="VARCHAR"/>-->
    <!--<result column="邮箱" property="youxiang" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->

    <select id="findString" resultType="java.lang.String">
        select sname from test
    </select>
</mapper>